<html lang="en">
	<STYLE type="text/css">
	#backdrop{
		padding:0;
		margin:auto;
		background-color:#1e1b17;
	}
	
	#newpost {
		width:850px;
		color: #000000;
		background-color:#fff;
		margin: auto;
		border: 5px solid #003399;
	}
	</STYLE>

	<body id="backdrop">


	<div id="space"></div>
	<div id="newpost">
<center>	New Post:
		<form action="/posts/addpost/" method="post">
	
	<textarea rows="10" cols="70" wrap="soft">Enter text here...</textarea>
	<p><input type="submit" value="Submit"\></p>
	</form></center>
	</div>
	
	</body>
</html>