<html lang="en">
	<STYLE type="text/css">
	#backdrop{
		padding:0;
		margin:auto;
		background-color:#1e1b17;
	}

	#story {
		width:850px;
		color: #000000;
		background-color:#fff;
		margin: auto;
		border: 5px solid #980000;
	}
	
	#space {
		height:10px;
		color:#1e1b17;
	}
	#voting{
		display:inline;
		float:right;
		margin:0 auto;
		padding:0;
		
	}
	</STYLE>
	
	<body id="backdrop">
		
	{% if latest_story_list %}
		
			{% for story in latest_story_list %}
			<div id="space"></div>
			<div id="story">
				
					<div  id="voting">
						<div id="space"></div>
						<form action="/posts/{{story.id}}/upvote/" method="post">
						<input type="submit" value="Up Vote" style="background-color:#00FF00;"\>
						</form>
						<form action="/posts/{{story.id}}/downvote/" method="post">
						<input type="submit" value="Down Vote" style="background-color:#FF0000	;" \>
						</form>
					</div>
				
				<p> {{story.body}}</p>
				<p> votes: {{story.rating}}</p>
				<p> date: {{story.post_date}}</p>
			
			</div>
			{% endfor %}
	
		{% else %}
		<p>No stories are available.</p>
		{% endif %}
	
		<form action="/posts/newpost/" method="post">
		<input type="submit" value="Create a new post!" style="background-color:#00FF00;"\>
		</form>
	
	
	</body>
</html>