<html lang="en">
	<STYLE type="text/css">
	#backdrop{
		padding:0;
		margin:auto;
		background-color:#1e1b17;
	}

	#story {
		width:850px;
		color: #000000;
		background-color:#fff;
		margin: auto;
		border: 5px solid #980000;
	}
	
	#space {
		height:10px;
		color:#1e1b17;
	}
	</STYLE>
	
	<body id="backdrop">
		
	{% if latest_story_list %}
		
			{% for story in latest_story_list %}
			<div id="space"></div>
			<div id="story">
				<center><p> {{story.body}}</p></center>
				<p> votes: {{story.rating}}</p>
				<p> date: {{story.post_date}}</p>
				
				<form action="/posts/{{story.id}}/upvote/" method="post">
				<input type="submit" value="Up Vote" \>
				</form>
				<form action="/posts/{{story.id}}/downvote/" method="post">
				<input type="submit" value="Down Vote" \>
				</form>
			</div>
			{% endfor %}
	
		{% else %}
		<p>No stories are available.</p>
		{% endif %}
	
	</body>
</html>