<html lang="en">
	<STYLE type="text/css">
	#backdrop{
		padding:0;
		margin:auto;
		background-color:#1e1b17;
	}

	#story {
		width:850px;
		color: #000000;
		background-color:#fff;
		margin: auto;
		border: 5px solid #980000;
	}
	
	#space {
		height:10px;
		color:#1e1b17;
	}
	</STYLE>
	<META HTTP-EQUIV="refresh" CONTENT="2;URL=http://localhost:8000/posts/">
	
	<body id="backdrop">
		
	{% if story_id %}
		<div id="space"></div>
		<div id="story">
		<center><p> You {{type}}d story {{story_id}}:</p></center>
			<center><p> {{story.body}}</p></center>
		</div>
	
	{% else %}
		<p>No stories are available.</p>
	{% endif %}
	
	</body>
</html>